html{
	font-family: 'Yantramanav', sans-serif;
	font-size: 14px;
}

body{
	background-color: #262626;
    color:#999999;
	
}

a{
    color:#999999;
	text-decoration: none;
}

a:visited{
    color:#999999;
    text-decoration: none;
}

img{
	width:100%;
	height:100%;
}

.me{
    font-size:1.2rem;
    letter-spacing: 1px; 
    text-transform: uppercase;
    position:fixed;

}

.intro{
    margin-top: 15%;
}

.selected{
	margin-top: 5%;
    padding-bottom: 2%;
	-webkit-perspective: 150px; /* Chrome, Safari, Opera  */
    perspective: 150px;
}

.skills{
	display:none;
	line-height: 1.5rem;
}



@keyframes one {
    33%{
    	-webkit-transform: rotateX(-15deg); /* Chrome, Safari, Opera  */
    	transform: rotateX(--15deg);
    }

    66%{
    	-webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera  */
    	transform: rotateX(0deg);
    }

    100%{
    	-webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera  */
    	transform: rotateX(0deg);
    }
}

.one {
	height:auto;
	padding: 0 auto;
    padding-bottom: 10px;

	-webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera  */
    transform: rotateX(0deg);

	animation-name: one;
	animation-duration:5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes two {
    50%{margin-top:20px;
    	-webkit-transform: rotateX(5deg); /* Chrome, Safari, Opera  */
    	transform: rotateX(5deg);
    }

    100%{margin-top:0px;
    -webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera  */
    transform: rotateX(0deg);}
}

.two{
	margin-top: 0px;
/*
	animation-name: two;
	animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
*/

}

#smalls1{
    width: 100%;
    height: 100%;
}


