html{
	font-family: sans-serif;
	font-size: 16px;
}

body{
	background-color: #000000;
	color:white;
}

a{
	color:white;
	text-decoration: none;
}

.me{
	font-size: 1.2rem;
	letter-spacing: 1px
}

.selected{
	margin-top: 10%;
	-webkit-perspective: 150px; /* Chrome, Safari, Opera  */
    perspective: 150px;
}

@keyframes one {
    50%{margin-top:-5px;
    -webkit-transform: rotateX(45deg); /* Chrome, Safari, Opera  */
    transform: rotateX(45deg);}

    100%{margin-top:0px;
    	-webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera  */
    	transform: rotateX(0deg);
    }
}

.one {
	border: 1px solid white;
	height:60px;
	padding: 0 auto;

	-webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera  */
    transform: rotateX(0deg);

	animation-name: one;
	animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes two {
    50%{margin-top:5px;
    	-webkit-transform: rotateX(45deg); /* Chrome, Safari, Opera  */
    	transform: rotateX(45deg);
    }
    
    100%{margin-top:0px;
    -webkit-transform: rotateX(0deg); /* Chrome, Safari, Opera  */
    transform: rotateX(0deg);}
}

.two{
	margin-top: 0px;

	animation-name: two;
	animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}